{{>licenseInfo}}

{{#apiInfo}}
import Service from "../service";
import Client from "../client";

{{#apis}}
{{#operations}}
import {{ classname }} from "./{{serviceName}}/{{ classFilename }}";
{{/operations}}
{{/apis}}

export default class {{#lambda.titlecase}}{{serviceName}}{{/lambda.titlecase}} extends Service {
    public constructor(client: Client) {
        super(client);
    }
{{#apis}}
    {{#operations}}
    public get {{ classname }}() {
        return new {{ classname }}(this.client);
    }
    {{/operations}}
{{/apis}}
}
{{/apiInfo}}