    /**
{{#summary}}
    * @summary {{&summary}}
{{/summary}}
{{#pathParams}}
    * @param {{paramName}} {@link {{dataType}} } {{description}}
{{/pathParams}}
{{#bodyParams}}
    * @param {{paramName}} {@link {{dataType}} } {{description}}
{{/bodyParams}}
    * @param requestOptions {@link IRequest.Options }
{{#hasQueryParams}}
    * @example send query parameters through requestOptions: { params: { {{#queryParams}}{{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}: "{{{dataType}}}"{{^-last}}, {{/-last}}{{/queryParams}} } }
{{/hasQueryParams}}
{{#returnType}}
    * @return {@link {{.}} }
{{/returnType}}
    */