    /**
{{#summary}}
    * @summary {{&summary}}
{{/summary}}
{{#allParams}}
    * @param {{paramName}} {@link {{dataType}} } {{description}}
{{/allParams}}
    * @param requestOptions {@link IRequest.Options}
{{#returnType}}
    * @return {@link {{.}} }
{{/returnType}}
    */