    /**
{{#summary}}
    * @summary {{&summary}}
{{/summary}}
{{#pathParams}}
    * @param {{paramName}} {@link {{dataType}} } {{description}}
{{/pathParams}}
{{#bodyParams}}
    * @param {{paramName}} {@link {{dataType}} } {{description}}
{{/bodyParams}}
    * @param requestOptions {@link IRequest.Options }{{#queryParams}}{{#required}}
    * @param {{paramName}} {@link {{dataType}} } (Required) {{description}}{{/required}}{{/queryParams}}{{#queryParams}}{{^required}}
    * @param {{paramName}} {@link {{dataType}} } {{description}}{{/required}}{{/queryParams}}
{{#hasProduces}}
    * @return {@link {{#returnProperty}}{{openApiType}}{{/returnProperty}}{{^returnProperty}}void{{/returnProperty}} }
{{/hasProduces}}
{{#isDeprecated}}
    *
	* @deprecated {{#vendorExtensions.x-deprecatedInVersion}}since {{#appName}}{{{.}}}{{/appName}} v{{.}}{{/vendorExtensions.x-deprecatedInVersion}}{{#vendorExtensions.x-deprecatedMessage}}
	* {{{.}}}{{/vendorExtensions.x-deprecatedMessage}}
{{/isDeprecated}}
    */