name: Node.js Format

on:
  push:
    branches:
      - 'sdk-automation/models'

jobs:
  format:
    if: ${{ github.event.commits != null && !startsWith(github.event.head_commit.message, 'style(fmt)') && !startsWith(github.event.head_commit.message, 'Merge pull request') }}
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: 20.x
      - name: Install dependencies and run formatter
        run: |
          yarn install --frozen-lockfile
          yarn lint:fix
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
          commit-message: "style(fmt): code formatted"
          title: "style(fmt): Automated code formatting"
          body: |
            This PR contains automated code formatting changes.

            Please review the changes before merging.
          branch: automated-formatting-${{ github.run_id }}
          delete-branch: true
          author: AdyenAutomationBot <${{ secrets.ADYEN_AUTOMATION_BOT_EMAIL }}>
