name: Format and Commit Code

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}

      - name: Format Code
        uses: ./.github/actions/format
        with:
          path: .

      - name: Commit and Push Changes
        run: |
          git config user.name AdyenAutomationBot
          git config user.email "${{ secrets.ADYEN_AUTOMATION_BOT_EMAIL }}"
          git add .
          git commit -m "style(fmt): code formatted" || echo "No changes to commit"
          git push