name: Format and Commit Code

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}

      - name: Format Code
        uses: ./.github/actions/format
        with:
          path: .

      - name: Commit and Push Changes
        run: |
          git config user.name AdyenAutomationBot
          git config user.email "${{ secrets.ADYEN_AUTOMATION_BOT_EMAIL }}"
          git add .
          if ! git diff --staged --quiet; then
            git commit -m "style(fmt): code formatted"
            git push
          else
            echo "No changes to commit"
          fi