name: Node.js Format

on:
  push:
    branches:
      - 'sdk-automation/models'

jobs:
  format:
    if: ${{ github.event.commits != null && !startsWith(github.event.head_commit.message, 'style(fmt)') }}
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: 20.x
      - run: |
          npm ci --legacy-peer-deps
          npm run lint:fix
      - run: |
          git config user.name AdyenAutomationBot
          git config user.email "${{ secrets.ADYEN_AUTOMATION_BOT_EMAIL }}"
          git add .
          git commit -m "style(fmt): code formatted" || echo "No changes to commit"
          git push
