# Workflow to publish a new release on NPM
# https://www.npmjs.com/package/@adyen/api-library
name: Publish to NPM

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    environment: release
    env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_ADYEN_NODE_API_LIBRARY_TOKEN }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
          always-auth: true
      - run: |
          npm install
          npm run build
      - run: npm publish
        
