name: Prepare release

on:
  push:
    branches:
      - develop

jobs:
  main:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Prepare the next main release
        uses: michaelpaul/release-automation-action@v1.0.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          develop-branch: develop
          release-branch: main
          version-files: package.json